
.alert-message {
    .snackbar-alert {
        margin-top: 10px;
        border-radius: 30px;

        .alert-success {
            border-radius: 30px;
            background-color: #00C9A7;
            color: #fff;
            user-select: text !important;
   
        }

        .alert-error {
            border-radius: 30px;
            background-color: #FF6F91;
            color: #fff;
            user-select: text !important;
   
        }

        .alert-warning {
            border-radius: 30px;
            background-color: orange;

            color: #fff;
        }
    }
}